*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --body-backgroundColor: #333;
  --game-board-backgroundColor: #ccc;
  --cell-backgroundColor: #aaa;
  --border-radius: 1vmin;
}

body {
  background-color: var(--body-backgroundColor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-size: 7.5vmin;
}

#game-board {
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  background-color: var(--game-board-backgroundColor);
  gap: var(--cell-gap);
  border-radius: var(--border-radius);
  padding: var(--cell-gap);
  position: relative;
}

.cell {
  background-color: var(--cell-backgroundColor);
  border-radius: var(--border-radius);
}

.tile {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  border-radius: var(--border-radius);
  top: calc(var(--y) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  left: calc(var(--x) * (var(--cell-size) + var(--cell-gap)) + var(--cell-gap));
  font-weight: bold;
  animation: show 200ms ease-in-out;
  transition: 100ms ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0.5;
    scale: 0;
  }
}
